.Tweetshow
  .Tweetshow__user
    .Tweetshow__user__main
      = link_to user_path(@tweet.user) do
        = attachment_image_tag @tweet.user, :profile_image, fallback: "no-image.png", class: "Tweetshow__image"
      .Tweetshow__user__main__name
        = link_to user_path(@tweet.user), class: "Tweetshow__user__main__Name" do
          = @tweet.user.username
      .Tweetshow__user__main__date
        = @tweet.updated_at.strftime("%Y-%m-%d %H:%M")
    .Tweetshow__user__sub
      .Tweetshow__user__form
        = @tweet.title
        - if @tweet.user.id == current_user.id
          = link_to edit_tweet_path(@tweet), class: "Tweetshow__user__form__edit" do
            = icon('fas', 'edit')
      .Tweetshow__user__body
        = simple_format @tweet.body
